<table>
  <tr>
    <td>Tipo de identificación</td>
    <td>Número de identificación</td>        
  </tr>
  
  <tr>
    <td>
      <select class="form-control">
        <option value="CC">Cédula de ciudadanía</option>
        <option value="TI">Tarjeta de identidad</option>
      </select>
    </td>

    <td>
      <input name="numID" id="numID" type="text" required class="form-control"  placeholder="Número de identificación">
    </td>        
  </tr>

  <tr>
    <td></td>
    <td align="right">
        <input value="Consultar" type="button">
    </td>
  </tr>

  <tr>
</table>

<table width="100%" border="1" cellpadding="0" cellspacing="1" bordercolor="#000000" style="border-collapse:collapse;border-color:#ddd;">
    
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>N° Identificación</th>
      <th>Tipo de identificación</th>
      <th>Número telefónico</th>
      <th>Edad</th>
      <th>Estado</th>
      <th>Fecha de Nacimiento</th>
      <th>CRU</th>
    </tr>

  </table>

  <ng-template #empty></ng-template>

