<p>
  filtros works!
</p>


<!--
  <input value="Mostrar Formulario" type="button" (click)="mostrar()" />
  <input value="Ocultar Formulario" type="button" (click)="ocultar()" />-->
  <input value={{mostrarFormulario}} disabled="true"/>

  <div [ngStyle]="{'background-color':'white'}">
    <fieldset>
      <legend>Gestionar vehículos</legend>  
        <table>
            <tr>
              <td>Marcas</td>
              <td></td>
              <td></td>
              <td>Líneas</td>        
            </tr>
            
            <tr>
              <td>
                <select [(ngModel)]="vehiculo.marca">
                  <option value="M1">Marca 1</option>
                  <option value="M2">Marca 2</option>
                </select>
              </td>
              
              <td></td>
              <td></td>
              
              <td>
                <select [(ngModel)]="vehiculo.linea">
                  <option value="L1">Línea 1</option>
                  <option value="L2">Línea 2</option>
                </select>
              </td>        
            </tr>
          
            <tr>
              <td></td>
              <td></td>
              <td align="rigth">
                  <input value="Consultar" type="button" (click)="mostrarTabla()">
              </td>
            </tr>

        </table>
        
        <div *ngIf="mostrarFormulario">          

          <table width="100%" border="1" cellpadding="0" cellspacing="1" bordercolor="#000000" style="border-collapse:collapse;border-color:#ddd;">
    
            <tr>
              <th WIDTH="100" >Marca</th>
              <th WIDTH="100" >Línea</th>
              <th WIDTH="100" >Placa</th>
              <th WIDTH="100">Modelo</th>
              <th WIDTH="100">Color</th>
              <th WIDTH="100">+</th>
            </tr>
        
          </table>            
                    
        </div>
    </fieldset>          
    
  </div>

<pre>{{ vehiculo | json }}</pre>
